* @MrBartusek
src/integrations/meteofrance.js @Nsbx

# Translation creators and contributor
src/translations/en.json @MrBartuseks
src/translations/pl.json @MrBartusek
src/translations/de.json @nurtext @jpbede
src/translations/es.json @ajtudela
src/translations/et.json @Repsionu
src/translations/fr.json @t1gr0u @Nsbx @Lynilia
src/translations/it.json @pmazz
src/translations/nl.json @BartEngelen
src/translations/sv.json @fredriklj
