src/integrations/meteofrance @Nsbx

# Translation creators and contributor
src/translations/en @MrBartuseks
src/translations/pl @MrBartusek
src/translations/de @nurtext @jpbede
src/translations/es @ajtudela
src/translations/et @Repsionu
src/translations/fr @t1gr0u @Nsbx @Lynilia
src/translations/it @pmazz
src/translations/nl @BartEngelen
src/translations/sv @fredriklj
