name: Validate Translations

on:
  pull_request:
  push:
    branches:
    - master

jobs:
  json-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Validate JSONs
        uses: nhalstead/validate-json-action@0.1.3
        with:
          schema: src/localize/schema/schema.json
          jsons: src/localize/languages/*.json
