name: HACS validation
on: [push, pull_request]

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v2"
        uses: "hacs/action@main"
        with:
          category: "plugin"
